.title{
    color:white;
    margin: 40px 10px;
    text-align: center;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}

.table{
    background-color: white;
}

.centrar{
    text-align: center;
}
